/*colourscheme*/
:root {
    --coal: #1D4A5D;
    --munsell: #3B8EA5;
    --crayola: #F5EE9E;
    --sandy: #F49E4C;
    --firebrick: #AB3428;
}


#game {
    border: 5px solid firebrick;
    font-family: 'Major Mono Display', monospace;
    width: 100vw;
    height: 600px;
    margin: auto;
    background-color: var(--coal);
    vertical-align: center;
}

